body{
    box-sizing: border-box;
    height: 1080px;
    max-width: auto;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Times New Roman', serif;
}

/* NAV CSS */
nav{
    letter-spacing: 3px;
    /* word-spacing: 24px; */
    font-size: 18px;
    z-index: 1;
    color: #000000;
}

@media (max-width: 425px) {
    nav {
        background: rgba(255, 255, 255, 0.514);
        font-size: 15px;
    }
    
}

@media (max-width: 768px) {
    nav {
        background: rgba(255, 255, 255, 0.514);
        font-size: 15px;
    }
    
}

.navbar-brand {
    background: rgba(158, 158, 158, 0.514);
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}

@media (max-width: 425px) {
    .navbar-brand {
        font-size: 12px;
        font-weight: 200px;
        padding-top: 0;
        background: #818181;
    }
    
}
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 15px;
        font-weight: 200px;
        padding-top: 0;
        background: #818181;
    }
    
}


.navbar-nav a{
    background: rgba(179, 179, 179, 0.651);
}

@media (max-width: 425px) {
    .navbar-toggler-icon {
        background: #818181;
    }
    
}

@media (max-width: 768px) {
    .navbar-toggler-icon {
        background: #818181;
    }
    
}


/* STUDIO CSS */
.studio-header h1 {
    font-size: 25px;
    color: #757575;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: 50;
}

.studio-list {
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;

    
}

    ul {
        list-style: none;
    }

    li {
        padding: 20px;
        font-size: 20px;
        opacity: 0.6;
        text-decoration: none;
    }

    a:link {text-decoration: none;}
    a:hover {opacity: 0.8;}


/* TITLE CSS */
.title-container {
    background: #f2f2f2;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.title {
    font-size: 25px;
}

.title-caption {
    font-size: 25px;
}



/* LOCATION CSS */

.location-container {
    display: grid;
    max-width: auto;
    max-height: auto;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    padding-top: 200px;
    padding-bottom: 100px;
    background: #e7e7e7;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-auto-rows: auto;
    text-align: center;
}

@media (max-width: 768px){
    .location-container {
        max-width: 768px;
        padding-top: 120px;
        grid-template-columns: auto;
        /* gap: 25px; */
        grid-auto-rows: auto;
        padding-bottom: 100px;
    }
}
@media (max-width: 425px){
    .location-container {
        max-width: auto;
        padding-top: 100px;
        grid-template-columns: 1fr;
        gap: 20px;
        grid-auto-rows: auto;
        padding-bottom: 100px;
    }
}

    .image img{
        width: 100%;
        height:  450px;
        object-fit: contain;
        /* padding-left: 150px; */
    }
    
    @media (max-width: 768px){
        .image img {
            width: 600px;
            height: 250;
            right: 10px;
        }
    }    
    @media (max-width: 425px){
        .image img {
            width: 425px;
            height: 250;
        }
    }

    .location {
        text-align: left;
        letter-spacing: 3px;
        padding-top: 25px;
    }

    .location h1 {
        font-size: 30px;
        color: rgb(65, 65, 65);
        opacity: 0.8;
    }

    .location h4 {
        font-size: 22px;
        color: rgb(0, 0, 0);
        opacity: 0.6;
    }


















/* FOOTER CSS */
.footer-container {
    max-width: 1920px;
    padding-top: 10px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.social-media li {
    margin: 10px;
}