body{
    box-sizing: border-box;
    height: 1080px;
    max-width: auto;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Times New Roman', serif;
}

/* NAV CSS */
nav{
    z-index: 1;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 650;
}
@media (max-width: 768px) {
    nav {
        background: rgba(255, 255, 255, 0.514);
        font-size: 15px;
        
    }
    
}
@media (max-width: 425px) {
    nav {
        background: rgba(255, 255, 255, 0.514);
        font-size: 15px;
    }
    
}

.navbar-brand {
    background: rgba(89, 89, 89, 0.514);
    padding: 18px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 15px;
        font-weight: 200px;
        padding-top: 0;
        background: #818181;
    }
}
@media (max-width: 425px) {
    .navbar-brand {
        font-size: 12px;
        font-weight: 200px;
        padding-top: 0;
        background: #818181;
    }
    
}

.navbar-brand h4 {
    color: #000000;
}
.navbar-brand span {
    color: #ffffff;
}


.nav-item {
    background: rgba(89, 89, 89, 0.514);
    text-transform: uppercase;
    letter-spacing: 8px;
}



.navbar-toggler-icon{
    background: rgba(89, 89, 89, 0.514);
    padding: 18px;
    
}
    @media (max-width: 425px) {
        .navbar-toggler-icon {
            background: #818181;
        }
        
    } 

.title-container {
    margin-top: 100px;
    margin-bottom: 100px;
}
    @media (max-width: 768px) {
        .title-container {
            margin-top: 70px;
            margin-bottom: 70px;
        }
    } 
    @media (max-width: 425px) {
        .title-container {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    } 


.title-container h4 {
    padding-top: 50px;
    line-height: 2;
    font-weight: 300;
}
    @media (max-width: 768px) {
        .title-container h1 {
            font-size: 30px;
        }
    } 
    @media (max-width: 425px) {
        .title-container h1 {
            font-size: 24px;
        }
    } 

    @media (max-width: 768px) {
        .title-container h4 {
            font-size: 24px;
            padding-top: 20px;
            line-height: 1.5;
        }
    } 
    @media (max-width: 425px) {
        .title-container h4 {
            font-size: 18px;
            padding-top: 15px;
            line-height: 1.5;
        }
    } 

.vismis-container {
    margin-top: 100px;
    margin-bottom: 100px;
}
    @media (max-width: 768px) {
        .vismis-container {
            margin-top: 70px;
            margin-bottom: 70px;
        }
    } 
    @media (max-width: 425px) {
        .vismis-container {
            margin-top: 40px;
            margin-bottom: 40px;
        }
} 

.vismis-container p {
    padding-top: 20px;
    line-height: 2;
    font-weight: 300;
    font-size: 24px;
}
    @media (max-width: 768px) {
        .vismis-container p {
            font-size: 24px;
            padding-top: 15px;
            line-height: 1.5;
        }
    } 
    @media (max-width: 425px) {
        .vismis-container p {
            font-size: 18px;
            padding-top: 10px;
            line-height: 1.5;
        }
    } 

.mission {
    padding-top: 50px;
}


.form {
    background: #545454;
}
.form-title {
    padding: 30px;
    color: #000000;
}





/* FOOTER CSS */
.footer-container {
    max-width: 1920px;
    padding-top: 10px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.social-media li {
    margin: 10px;
}